<img style="height: 10cm;width: 10cm;margin-left: 10cm;" src="https://mail.google.com/mail/u/0?ui=2&ik=94474c8641&attid=0.7&permmsgid=msg-f:1699069563742451663&th=17944ec4238bf7cf&view=att&disp=safe&realattid=dba43a69e7992c8_0.7">
<img style="height: 10cm;width: 15cm;margin-left: 8cm;margin-top: 5cm;" src="https://mail.google.com/mail/u/0?ui=2&ik=94474c8641&attid=0.6&permmsgid=msg-f:1699069563742451663&th=17944ec4238bf7cf&view=att&disp=safe&realattid=dba43a69e7992c8_0.6">
<img style="height: 15cm;width: 20cm;margin-top: 5cm;margin-left: 5cm;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR15JY6eB13GFIeRJ4iIFQQnyzilFPh8vMWQA&usqp=CAU">

