
<section class="panel banner right">
<div>
    <img style="width: 30cm;height: 25cm;margin-right:5cm; "src="https://mail.google.com/mail/u/0?ui=2&ik=94474c8641&attid=0.1&permmsgid=msg-a:r7718114611975285071&th=17948bdde793da60&view=att&disp=safe&realattid=f_koeu1y1p0">
    <img style="height: 8cm;padding-left: 10cm;margin-top: -30cm;" src="https://media.tenor.com/images/741c001403693a562196537f05aa32c0/tenor.gif">
    
</div>

</section>


<section class="panel spotlight medium right" id="first">

    <img style="width: 6cm; height: 8cm; margin-top: 8cm ;" src="https://mail.google.com/mail/u/0?ui=2&ik=94474c8641&attid=0.9&permmsgid=msg-f:1698902887785686575&th=1793b72cde59e62f&view=att&disp=safe&realattid=f_koa3dw3s7">
    <img style="width: 20cm;height: 10cm;margin-left: 1cm;margin-top: 2cm;" src="https://mail.google.com/mail/u/0?ui=2&ik=94474c8641&attid=0.1&permmsgid=msg-f:1699076446292295672&th=179455069b7c3ff8&view=fimg&sz=s0-l75-ft&attbid=ANGjdJ_4w2XfpiWUKqsKcVIv5-IqmqGra6kSN6wyXrDgfgFPfbeKB0dCObm_D0uPVNFgiDCpBM8MfTE7ihkd5tEwcQK4wN5uF89fzofAFnHywC4ki-GnZM85ucaL31c&disp=emb&realattid=a1d2ce2dfb329527_0.1.1">
    <p style="width: 15cm; margin-left: 10cm; margin-top: -8cm;color:black;">

        
    Привет,{{username | uppercase}}!, меня зовут Томи! Давайте начнем следить за вашим здоровьем вместе со мной! Здоровый образ жизни-это деятельность, направленная на укрепление здоровья. Итак, чтобы быть здоровым, нужно не пренебрегать правилами личной гигиены и распорядком дня, правильно питаться и заниматься спортом.
    </p>
</section>


<div class="panel color1" style=" background-image: url(https://mail.google.com/mail/u/0?ui=2&ik=94474c8641&attid=0.1&permmsgid=msg-f:1699092767096728017&th=179463de973c69d1&view=att&disp=safe&realattid=824f6e33780ce071_0.1);background-size: 30cm;">

        <p style="color:black; margin-top: 10cm; margin-left: 6cm; color: black;">
            {{username | uppercase}}, перед тобой твой организм! И его надо беречь. Я покажу тебе как это сделать.
        </p>
        
        <img style="width: 8cm;height: 10cm; margin-top: 2cm; margin-left: 10cm;" src="https://mail.google.com/mail/u/0?ui=2&ik=94474c8641&attid=0.3&permmsgid=msg-f:1698902887785686575&th=1793b72cde59e62f&view=att&disp=safe&realattid=f_koa3dw3d4">
        <img style="width: 6cm; height: 8cm; margin-top: -8cm;margin-right: 10cm;" src="https://mail.google.com/mail/u/0?ui=2&ik=94474c8641&attid=0.9&permmsgid=msg-f:1698902887785686575&th=1793b72cde59e62f&view=att&disp=safe&realattid=f_koa3dw3s7">
    </div>

<div class="panel spotlight large left" >
    <mat-grid-list cols="4" rowHeight="2:1" style="padding-top: 2cm;">
    <mat-grid-tile><img style="width: 4cm;" src="https://mail.google.com/mail/u/0?ui=2&ik=94474c8641&attid=0.7&permmsgid=msg-f:1698902887785686575&th=1793b72cde59e62f&view=att&disp=safe&realattid=f_koa3dw3i5" routerLink="/wash"></mat-grid-tile>
    <mat-grid-tile><img style="width: 4cm;" src="https://mail.google.com/mail/u/0?ui=2&ik=94474c8641&attid=0.4&permmsgid=msg-f:1698902887785686575&th=1793b72cde59e62f&view=att&disp=safe&realattid=f_koa3dw383" routerLink="/zub"></mat-grid-tile>
    <mat-grid-tile><img style="width: 4cm;" src="https://mail.google.com/mail/u/0?ui=2&ik=94474c8641&attid=0.1&permmsgid=msg-f:1698902887785686575&th=1793b72cde59e62f&view=att&disp=safe&realattid=f_koa3dw342" routerLink="/eat"></mat-grid-tile>
    <mat-grid-tile><img style="width: 4cm;" src="https://mail.google.com/mail/u/0?ui=2&ik=94474c8641&attid=0.8&permmsgid=msg-f:1698902887785686575&th=1793b72cde59e62f&view=att&disp=safe&realattid=f_koa3dw3w8" routerLink="/sport"></mat-grid-tile>
    </mat-grid-list>

    
    <img style="width: 6cm;height: 10cm; margin-top:0cm;" src="https://mail.google.com/mail/u/0?ui=2&ik=94474c8641&attid=0.1&permmsgid=msg-f:1698985552464511448&th=1794025bbd2b01d8&view=att&disp=safe&realattid=f_kocg78810">
    <img style="width: 20cm;height: 10cm;" src="https://mail.google.com/mail/u/0?ui=2&ik=94474c8641&attid=0.1&permmsgid=msg-f:1699076446292295672&th=179455069b7c3ff8&view=fimg&sz=s0-l75-ft&attbid=ANGjdJ_4w2XfpiWUKqsKcVIv5-IqmqGra6kSN6wyXrDgfgFPfbeKB0dCObm_D0uPVNFgiDCpBM8MfTE7ihkd5tEwcQK4wN5uF89fzofAFnHywC4ki-GnZM85ucaL31c&disp=emb&realattid=a1d2ce2dfb329527_0.1.1">
    <p style="margin-left: 8cm;margin-top: -8cm;color: black;">
         {{username | uppercase}},нажми на картинки. И узнай что надо делать.
    </p>
</div>

<section class="panel">
    <img style="width: 8cm;height: 12cm;margin-left: 26pc; margin-top: 20cm;" src="https://mail.google.com/mail/u/0?ui=2&ik=94474c8641&attid=0.6&permmsgid=msg-f:1698902887785686575&th=1793b72cde59e62f&view=att&disp=safe&realattid=f_koa3dw3m6">
    <P style="padding-left: 11cm;color: black;background-color: #78e3ee;">
        Спасибо за визит {{username | uppercase}}, приходи ещё!
    </P>
</section>

<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/browser.min.js"></script>
<script src="assets/js/breakpoints.min.js"></script>
<script src="assets/js/main.js"></script>